body {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

.middleComp {
    background-image: url(../img/BG-imageComp.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: none;
}

.rad {
    border-radius: 20px !important;
}

.navbar {
    height: 75px;
    padding: .0rem 3rem;
}

.navbar-brand img {
    max-width: 180px;
    height: auto;
    max-height: 70px;
}

@media (max-width: 991px) {
    .navbar-nav {
        display: block;
    }
    .navbar-collapse {
        background-color: rgba(36, 35, 33, 0.718);
        padding: 15px;
        border-radius: 15px;
        font: status-bar;
    }
}

@media (max-width: 371px) {
    .navbar-nav .dropdown-menu {
        width: auto;
        margin: auto;
    }
}

.logOut {
    font-weight: 900 !important;
    font-size: larger;
}

.fa {
    vertical-align: middle;
}

.fa-1x {
    font-size: 1.5em;
}

.dropdown,
.dropup {
    align-self: center;
}

.bg-dark.scrolled {
    background: rgba(36, 35, 33, 0.718) !important;
}

.dropdown-menu input {
    border-radius: 5px;
    border-width: thin;
    padding: 5px;
}

#head .btn-primary {
    margin-bottom: 10px;
}

#head {
    display: inline-block;
}

.container .card {
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    max-width: 500px !important;
    min-width: 284px !important;
}

.card-header {
    background-color: whitesmoke !important;
}

.card-img {
    max-width: -webkit-fill-available;
    min-width: 240px;
    height: auto;
}

.img-thumbnail {
    max-width: 45px;
    padding: 0.20rem;
}

.img-thumbnail-historia {
    border: 2px solid #ff0062;
}

.fl {
    float: left;
}

.info {
    max-width: 100%;
    height: auto;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.1);
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-top-img {
    max-width: 330px;
    min-width: 284px;
    height: auto;
    background-color: whitesmoke !important;
}

.trans {
    background-color: rgba(255, 255, 255, 0.726);
}

.card-adv,
.card-QR {
    max-width: 100px;
    min-width: 70px;
    height: auto;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.card-body {
    padding: 10px;
}

.card-footer {
    padding-right: 0;
    padding-left: 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.fa-5x {
    font-size: 12em;
}

.modal-content {
    border-radius: .7rem;
    padding: 15px;
}

.mt-5 {
    margin-top: 5rem!important;
}

#banner {
    margin-top: 60px;
    width: 100%;
    max-height: 600px;
}