* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif, 'Courier New', Courier, monospace;
}

.middleSignIn {
    background-image: url(../img/despedida.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.navbar {
    height: 75px;
    padding: .0rem 3rem;
}

.navbar-brand img {
    max-width: 180px;
    height: auto;
    max-height: 70px;
}

.rad {
    border-radius: 20px !important;
}

.mt-5,
.my-5 {
    margin-top: 7rem !important;
}

.mt-4,
.my-4 {
    margin-top: 5rem !important;
}

.form-control {
    border: 1.5px solid #ced4da;
}